<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONEST - Controle de Estoque</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <h1>CONEST</h1>
        <button class="btn" ><img src="../public/img/client.png" alt="Clientes" onclick="client()"></button>
        <button class="btn" ><img src="../public/img/provider.png" alt="Fornecedores" onclick="fornec()"></button>
        <button class="btn"><img src="../public/img/product.png" alt="Produtos" onclick="produto()"></button>
        <button class="btn"><img src="../public/img/report.png" alt="Relatórios" onclick="relatorio()"></button>
    </div>
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="dbOff">
    </footer>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
</body>

</html>